<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>找不到页面了</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="/main.css">

</head>
<body>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark head-nav">
    <!-- Navbar content -->
    <a class="navbar-brand" href="/">OWL DashBoard</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team">Team</a>
            </li>
        </ul>
    </div>

</nav>

<div class="container main-content">

    <div class="jumbotron" style="margin-top: 20px">
        <h1 class="display-3">啊勒</h1>
        <p class="lead">页面不见了？还是地址出了问题？</p>
        <hr class="my-4">
        <p>返回上一页吧</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="javascript:history.go(-1)" role="button">返回</a>
        </p>
    </div>

</div>

<nav id="footer" class="navbar navbar-dark bg-dark foot-nav">
    <!-- Navbar content -->
    <span class="navbar-text">
        <i>A SpringBoot Demo By Liuyanyi.</i>
    </span>
    <span class="navbar-text">
        <i>Data from</i>
        <a href="http://overwatchleague.com"><i>overwatchleague.com</i></a>
    </span>
</nav>


<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>