<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>找不到页面了</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="/main.css">

</head>
<body>

<div th:replace="mould :: header (0,0)"></div>


<div class="container main-content">

    <div class="jumbotron" style="margin-top: 20px">
        <h1 class="display-3">啊勒</h1>
        <p class="lead">页面不见了？还是地址出了问题？</p>
        <hr class="my-4">
        <p>返回上一页吧</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="javascript:history.go(-1)" role="button">返回</a>
        </p>
    </div>

</div>

<div th:replace="mould :: footer"></div>

<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>