<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Team Info</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="/main.css">
    <script src="/main.js?v1.2"></script>

</head>
<body onload="scoreAjax()">

<div th:replace="mould :: header (1,0)"></div>


<div class="container main-content">

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Team</th>
            <th scope="col">Region</th>
            <th scope="col">Win</th>
            <th scope="col">Lose</th>
        </tr>
        </thead>
        <tbody id="dashboard">
        <!--Data from function scoreAjax()-->
        </tbody>
    </table>
</div>

<div th:replace="mould :: footer"></div>

<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>