<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Team Info</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="/main.css">
    <script src="/main.js?v1.2"></script>

</head>
<body onload="teamAjax()">

<div th:replace="mould :: header (0,1)"></div>


<div id="maincont" class="container main-content">
    <!--Data from function teamAjax()-->
</div>

<div th:replace="mould :: footer"></div>

<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>